.git
.vs
.idea
.claude
_ReSharper.Caches
TestResults
docs

**/bin
**/obj
**/node_modules
**/dist

src/Server.Api/appsettings.LocalProduction.json
client/android

*.user
*.suo
*.DotSettings.user
Thumbs.db
.DS_Store
